 <article class="doc">
        <h1 class="page">Страница не найдена</h1>
        <div class="dog-grid">
            <div class="place">
                <div class="dog">
                    <div class="dog-head">
                            <div class="ear ear--left"></div>
                            <div class="ear ear--right"></div>
                            <div class="nose"></div>    
                        <div class="face">
                            <div class="eye eye--left"></div>
                            <div class="eye eye--right"></div>
                            <div class="mouth"></div>
                        </div>
                    </div>
                    <div class="dog-body">
                        <div class="chest"></div>
                        <div class="back"></div>
                        <div class="legs">
                            <div class="legs__front legs__front--left"></div>
                            <div class="legs__front legs__front--right">          </div>
                            <div class="legs__back legs__back--left"></div>
                            <div class="legs__back legs__back--right"></div>
                        </div>
                        <div class="tail"></div>
                    </div>
                </div>
            </div>
            <div class="text">
                <div class="paragraph">
                    <p>Страница, которую вы ищете, не существует. возможно, она была перемещена, или её съела собака. 
                        <ul>
                            <li><button class="box__button" onclick="history.back()">Вернитесь</button> на предыдущую страницу,</li>
                            <li>{{#with site.url}}<a href="{{{this}}}"><button class="box__button">Откройте</button></a> стартовую страницу,{{/with}}</li>
                            <li>Если вы ввели адрес вручную, проверьте адресную строку ещё раз: возможно, вы где-то ошиблись.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </article>
