{{#if (eq page.layout '404')}}
<title>Страница не найдена{{#with site.title}} :: {{this}}{{/with}}</title>
{{else}}
<title>{{{detag (or page.title defaultPageTitle)}}}{{#with site.title}} :: {{this}}{{/with}}</title>
{{/if}}
