<aside class="nav-container nav-sidebar">
  <nav class="nav" aria-label="Docs">
  <div class="context">
    <span class="title">{{page.component.title}} {{~#if (and (eq .. @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}} {{~#if (eq this ../latest)}} is-latest{{/if}} {{page.version}}</span>
  </div>
  </nav>
</aside>
