<!DOCTYPE html>
<html lang="ru">
  <head>
{{> head-patches defaultPageTitle='Untitled'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{> body-patches}}
{{> footer}}
  </body>
</html>
